<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .question{
            border: solid black 5px;
        }
    </style>
</head>
<body>
hello from exam
<div id="container">
    <form action="#" th:action="@{/processForm}" th:object="${formData}" method="post">
        <div th:each="question,i : ${questionList}">
            <div class="question">
                <p th:text="(${i.index}+1)+'. '+${question.question}"></p>
                <img th:if="${question.image}" th:src="'http://localhost:8080/images/'+${question.number}" th:alt="${question.question}"/>
                <label th:each="answer : ${question.answers}">
                    <input type="radio" th:field="${formData.answers['__${question.number}__']}" th:value="${answer.number}"/>
                    <span th:text="${answer.answer}"></span>
                </label>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>