
#bar{
    position: fixed;
    top: 0;
    left: 0;
    right: 10%;
    margin-left: auto;
    text-align: center;
    padding-left: 7%;
    height: 20%;
    background-color: red;
   
}

#container{
    margin-top:250px;
}

#toolbar.img{
    float:right;
    position:fixed;
    background-color: blue;
    top:0;
    bottom: 0;
    right: 0;
    left: 90%;
}
